<%= form_with(model: [@category, @task], local: true) do |f| %>
  <% if @task.errors.any? %>
    <div style="color: red;">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>
      <ul>
        <% @task.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :date%>
    <%= f.date_field :date %>
  </p>  

  <p>
    <%= f.label :task%>
    <%= f.text_field :task%>
  </p>

  <p>
    <%= f.label :description%>
    <%= f.text_field :description%>
  </p>

  <p>
    <%= f.submit%>
  </p>
<%end%>